.body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;

  a {
    color: hsl(var(--foreground));
    text-decoration: none;
    text-transform: uppercase;
  }

  p {
    margin: 0px;
    display: flex;
    overflow: hidden;
    font-size: 28px;
    padding-right: 20px;
    padding-top: 6px;
    font-weight: 800;
  }
}

@media only screen and (min-width: 1000px) {
  .body {
    max-width: 1200px;
    margin-top: 40px;
    flex-direction: column;

    p {
      font-size: 3.2vw;
      padding-right: 1.5vw;
      padding-top: 4px;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .body {
    p {
      font-size: 3.6vw;
    }
  }
}
